$deepColor: #009688;
$limeColor: #B2DFDB;
#container {
  //width: 800px;
  //height: 600px;
  //border: solid black 1px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;

  .item {
    width: 317px;
    height: 300px;
    margin: 0;
    box-sizing: border-box;
    border: solid 1px transparent;
    box-shadow: inset 0 0 0 5px $limeColor;
    padding:5px;
    background-repeat: no-repeat;
    //background-size: contain;
    background-position: center;

    &:before {
      margin: -5px;
      display: block;
      text-align: center;
      width: 20px;
      color: #ffffff;
      background-color: $limeColor;
      content: '\2610';
    }
    &.selected {
      //border: solid 5px $deepColor;
      box-shadow: inset 0 0 0 5px $deepColor;
      &:before {
        background-color: $deepColor !important;
        content: '\2714' !important;
      }
    }
    span {
      background-color: $deepColor;
      color: white;
    }
  }

}
